.container-capa{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* permite que os itens da flexbox sejam quebrados em várias linhas */
}

.btn-capa{
  width: 35%;
  height: 35vh;
  margin: 3%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  font-size: 400%;
  font-weight: bolder;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  background-color: rgba(249, 255, 220, 0.911);

}

.btn-capa:hover{
  background-color: rgb(197, 240, 8);
  -webkit-text-fill-color: black;
}
